---
title: Hubble Space Telescope
---

%h1 Hubble Space Telescope

%p This is a live demo of Srcery - the image loaging plugin by Gary Von Schilling
%p This plugin efficently loads images based on your current screen size and as you scroll.
%p 
  Source code - 
  %a(href='https://github.com/garyv/srcery/') http://github.com/garyv/srcery/

- names = %w( progenitor_star_sector ant_nebula galaxy_m106 carina_nebula galaxy_starburst saturn carina_nebula_caterpillar star-forming_region_ngc_3324 eta_carina_nebula ngc_1672 eyes_in_the_sky ngc_6791)

= image_tag name: 'hubble_space_telescope', default_size: 480, sizes: [ [1601,2400], [1201,1600], [961,1200], [601,960], [481,600], [0,480] ]

- names.each do |name|
  
  %h2= name.split(/_/).map(&:capitalize).join(' ')

  = image_tag name:name, sizes: [ [1601,2400], [1201,1600], [961,1200], [601,960], [481,600], [0,480] ]

%script(src='javascripts/srcery.js' async)